<div class="tool-index-container" data-controller="preview">


<div class="page-contain">

  <div class="info-card">
      <%= link_to "new tool", new_tool_path %>
    <div class="details-card" data-preview-target="preview">
    </div>
  </div>

  <div class="index-container">
    <% if @query %>
      <h1 style="font-size: 30px"><i class="fa-solid fa-wrench"></i> Tools matching <%= @query %></h1>
    <% else %>
      <h1><i class="fa-solid fa-wrench"></i> Tools</h1>
    <% end %>
    <% @tools.each do |tool| %>
      <div class="zero index-tool" data-action="click->preview#preview">
        <div class="img-contain">
          <% if tool.photo.key != nil %>
            <%= cl_image_tag tool.photo.key, height: 120, width: 120, id: "image" %>
          <% else %>
            <%=image_tag("tool-svgrepo-com.svg") %>
          <% end %>
        </div>

        <div class="name-desc">
          <h2 id="name"><%= link_to tool.title, tool_path(tool), id: "tool-path" %></h2>
          <p class="ellipsis3 p_card" id="description"><%= tool.description %></p>
        </div>
        <div class="date-rate">
          <span><%= tool.rating %>★</span>
          <%= tool.created_at.strftime('%m/%Y') %>
        </div>
        <div class="secret-info">
          <p id="username"><%= tool.user.profile.user_name %></p>
          <p id="rating"><%= tool.rating.to_i %></p>
          <%= link_to "", new_tool_bookmark_path(tool), id: "toolbox-path" %>
          <%= link_to "", profile_path(tool.user.profile), id: "user-path" %>
          <% tool.categories.each do |category|%>
            <span id="category"><%= category.name %></span>
          <% end %>
        </div>
      </div>
      <% end %>
  </div>

</div>



 <div class="zero">

    <div class="grid-item item1">
      <div class="img tcard_boxshadow">
        <img src="/assets/tool-svgrepo-com-f24415f87e82dd4b093aa4c916eaecebfba7e9824f23984fdf964cd8ffe0cd67.svg" />
      </div>
    </div>

    <div class="item2">
      <div class="item21">
        <div class="grid-item toolname">
          <h4> Tool name </h4>
        </div>
    	  <div class="grid-item">
          <p class="daterating">date<br>4.5★</p>
        </div>
	    </div>
        <div class="grid-item item22">
          <p class="ellipsis3 p_card">Lorem ipsum dolor sit amet consectetur adipiscing elit platea, vitae venenatis massa cubilia justo augue luctus, fames egestas ante lectus ullamcorper habitant mauris. Ut ligula morbi rhoncus viverra sed fringilla vel quisque, bibendum vestibulum fermentum eleifend posuere curae class convallis, congue orci phasellus dignissim integer augue commodo. Taciti velit quam laoreet pharetra sociis natoque cubilia hac penatibus suspendisse, quisque montes vulputate volutpat commodo morbi suscipit eu dui arcu varius, et aliquam nam venenatis molestie lobortis fames senectus sem. </p>
        </div>
      </div>
      <div class="grid-item">
        <p class="saverate"> Save | Rate</p>
    </div>
  </div>
