<% if @query %>
  <h1>Tools matching- <%= @query %></h1>
<% else %>
  <h1>Tools</h1>
<% end %>
<nav>
  <ul>
    <li><%= link_to "new tool", new_tool_path %></li>
  </ul>
</nav>

<ul>
  <% @tools.each do |tool| %>
      <% if tool.photo.key != nil %>
        <%= cl_image_tag tool.photo.key, height: 300, width: 300 %>
      <% end %>
      <h2><%= tool.title.split.map(&:capitalize).join(' ') %></h2>
      <p><%= tool.description %></p>
  <%= link_to "See tool", tool_path(tool) %>
  <% end %>
</ul>
