<div class="tool-index-container" data-controller="preview">


<div class="page-contain">

  <div class="info-card">
      <%= link_to "new tool", new_tool_path %>
    <div class="details-card" data-preview-target="preview">
    </div>
  </div>

  <div class="index-container">
    <% if @query %>
      <h1 style="font-size: 30px"><i class="fa-solid fa-wrench"></i> Tools matching <%= @query %></h1>
    <% else %>
      <h1><i class="fa-solid fa-wrench"></i> Tools</h1>
    <% end %>
    <% @tools.each do |tool| %>
      <div class="zero index-tool" data-action="click->preview#preview">
        <div class="img-contain">
          <% if tool.photo.key != nil %>
            <%= cl_image_tag tool.photo.key, height: 120, width: 120, id: "image" %>
          <% else %>
            <%=image_tag("tool-svgrepo-com.svg") %>
          <% end %>
        </div>

        <div class="name-desc">
          <h2 id="name"><%= link_to tool.title, tool_path(tool), id: "tool-path" %></h2>
          <p class="ellipsis3 p_card" id="description"><%= tool.description %></p>
        </div>
        <div class="date-rate">
          <span><%= tool.rating %>★</span>
          <%= tool.created_at.strftime('%m/%Y') %>
        </div>
        <div class="secret-info">
          <p id="username"><%= tool.user.profile.user_name %></p>
          <p id="rating"><%= tool.rating.to_i %></p>
          <%= link_to "", new_tool_bookmark_path(tool), id: "toolbox-path" %>
          <%= link_to "", profile_path(tool.user.profile), id: "user-path" %>
          <% tool.categories.each do |category|%>
            <span id="category"><%= category.name %></span>
          <% end %>
        </div>
      </div>
      <% end %>
  </div>

</div>
