<div class="tool-index-container">


<div class="page-contain">

  <div class="info-card">
    <% if @query %>
      <h1>🔧Tools matching <br> <p style="margin-left: 2.6ch;"><%= @query %></p></h1>
    <% else %>
      <h1>Tools</h1>
    <% end %>
      <%= link_to "new tool", new_tool_path %>
  </div>

  <div class="index-container">
    <% @tools.each do |tool| %>
      <div class="index-tool">
        <% if tool.photo.key != nil %>
          <%= cl_image_tag tool.photo.key, height: 150, width: 150 %>
        <% else %>
          <%=image_tag("tool-svgrepo-com.svg") %>
        <% end %>
        <div class="name-desc">
          <h2><%= tool.title%></h2>
        </div>
        <div class="grid-item item22">
          <p class="ellipsis3 p_card"><%= tool.description %></p>
        </div>
        </div>
        <div class="grid-item">
          <p class="mikulink"><%= link_to "See tool", tool_path(tool) %></p>
      </div>
      <% end %>
    </div>
      </div>
  </div>


  </div>

</div>
