<div style="width: 100% ; padding-top: 0%; padding-bottom: 5%; padding-right: 3%;" data-controller="external">
  <div class="tool-grid">
    <div class="imgg">

        <% if @tool.photo.key? %>
          <%= cl_image_tag @tool.photo.key, height: 300, width: 300, crop: :fill %>
        <% end %>
        <%= link_to "Back to results", tools_path, class: "mikulink" %>
        <%= link_to "Delete this tool", @tool, class:"button1", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@tool).destroy?  %>
        <% if policy(@tool).edit? %>
          <%= link_to "Edit This Tool", edit_tool_path(@tool), class: "button2" %>
        <% end %>
    </div>
    <div class="name-stars">
      <div class="nameg" style="text-align: left"> <h1><%= @tool.title %></h1>
        <p class="colorful-text">Added by <%= link_to @tool.user.profile.user_name, profile_path(@tool.user.profile) %> on <%= @tool.created_at.strftime('%d/%m/%Y') %></p>
      </div>
      <div class="starsg" style="text-align: right">
        <% @tool.rating.to_i.times do %>
          <i class="fa-solid fa-star"></i>
          <% end %>
          <% (5 - @tool.rating.to_i).times do %>
          <i class="fa-regular fa-star"></i>
          <% end %>
        </div>
    </div>
    <div class="textg" style="text-align: left"> <p style=><%= @tool.description %></p> </div>
    <div class="buttonsg">

      <%= link_to new_tool_bookmark_path(@tool), class: "button1" do |link|%>
        <i style ="padding-right: 8px" class='fa-solid fa-toolbox'></i> Save to Toolbox
      <% end %>
      <%= link_to  "https://#{@tool.url}", class: "button1", target: "blank", :"data-action" => "click->external#popup" do |link|%>
        <i class="fa-solid fa-link"></i> Open Link
      <% end %>
      <%= link_to new_tool_review_path(@tool), class: "button2" do |link| %>
        <i style ="padding-right: 8px" class="fa-solid fa-comment"></i> Leave a Review
      <% end %>

      <br>
    </div>

    <h2 style= "margin-bottom: 0px">Reviews</h2>
    <div>&nbsp</div>

    <div class="review-grid" style="background-color: white">
      <% @reviews.each do |review| %>
      <div class="review-grid-item">
        <p class="colorful-text" style="text-align: left">
          <%= link_to review.user.profile.user_name, profile_path(review.user) %> | <%= review.created_at.strftime('%d/%m/%Y') %>
        </p>
        <p style="text-align: left">
        <%= review.content %>
          <div class="starsg" style="text-align: left">
            <% review.rating.to_i.times do %>
            <span id="ratestars"><i class="fa-solid fa-star"></i></span>
            <% end%>
            <% (5 - review.rating.to_i).times do %>
            <span id="ratestars"><i class="fa-regular fa-star"></i></span>
            <% end %>
          <br>
          <%= link_to "Edit this review", edit_review_path(review) if policy(review).update? %>
          <%= link_to "Delete this review", review_path(review), data: { "turbo-method": :delete } if policy(review).destroy? %>
        </div>

        </p>
      </div>
      <div class="review-grid-item">
        <div class="avatar-small">
          <%=cl_image_tag review.user.profile.photo.key, height: 80, width:80, crop: :fill %>
       </div>
      </div>

    <% end %>

</div>
  <div class= "popup hiding" data-external-target="popup" data-action="click->external#close">
    <div style="margin: auto ; width: 50%; position: relative;">
      <div class="white_background card_borderradius card_boxshadow popupbox">
        <i class="fa-solid fa-toolbox"></i>
        <div class="pcontent">
          <h4>Thanks for using A11y to All !</h4>
            <p> If you like this tool, dont forget to leave a rating!</p>
            <div class="buttons">
            <%= link_to "add to toolbox", new_tool_bookmark_path(@tool), class: "button1" %>
            <%= link_to "Leave a review", new_tool_review_path(@tool), class: "button2"%>
        </div>
        </div>
      </div>
    <div class="xbutton" style="position: absolute; top: -7%; right: 0%; cursor: pointer;" >
      ✖
    </div>
  </div>
</div>

<!--
<%# =begin %>
<ul>
  <li><%= @tool.title %></li>
  <li><%= @tool.description %></li>
  <li><%= @tool.url %></li>
  <li><%= @tool.rating %></li>
  <li><%= @tool.user_id %></li>
</ul>

<%= link_to "Leave a review", new_tool_review_path(@tool) %>
<%= link_to "Save this tool to a toolbox", new_tool_bookmark_path(@tool) %>
<% @reviews.each do |review| %>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>

  <%= link_to "Edit this review", edit_review_path(review) if policy(review).update? %>
<% end %>
<%# =end %>
-->
<%# Add JS to create Confirmation box %>
