
  <div style= "width: 33%; margin: 4% auto auto auto;"class="white_background card_borderradius card_padding card_margin card_boxshadow">

      <% if @lists == [] %>
        <h1>Create a list before adding this tool.</h1>
        <h2><%= link_to "Make a list",new_list_path %></h2>
      <% else %>
      <h2 class="card_h2">Add <%= @tool.title %> to your toolbox</h2>
          <%= simple_form_for [ @tool, @bookmark ] do |f| %>
            <h5>Choose a toolbox:</h5>
            <%= f.input :list_id, as: :check_boxes, collection: @lists, wrapper: :horizontal_collection_inline %>
            <%= f.button :submit, "Go", class: "btn btn-primary" %>
          <% end %>
      <% end %>

  </div>
</div>
</div>
