<div class="dash-container">

  <div class="dash-grid">
    <div class="dash-profile">
        <div class="prof-left">
          <%= cl_image_tag current_user.profile.photo.key, height: 300, width: 300, crop: :fill, gravity: :face, class:"profile-avatar" %>
          <span id="score">Score:<%= current_user.profile.score %></span>
        </div>
        <div class="prof-right">
          <h1>Profile</h1>
          <h2><%= current_user.profile.name %></h2>
          <p><%= current_user.profile.user_name %> | <%= current_user.profile.location %></p></p>
          <p><%= current_user.profile.bio %></p>
          <%= link_to "Update Profile", edit_profile_path(current_user.profile)%>
        </div>
    </div>

    <div class="dash-tools">
    <h2>Your tools</h2>
      <div class="prof-toolboxes">
        <% current_user.lists.each do |list| %>
          <div class="toolbox">
          <h5><%= link_to list.title, list %></h5>
            <ul>
              <% list.bookmarks[0..2].each do |bookmark| %>
                <li><%= link_to bookmark.tool.title, bookmark.tool %></li>
              <% end %>
              <% if list.bookmarks.length > 2 %>
                <%= link_to "see more...", list %>
              <% end %>
            </ul>
          </div>
          <% end %>
      </div>
    </div>

    <div class="dash-reccomend">
    <h2>Reccomendations</h2>
    <% @suggestions.each do |i| %>
      <p><%= i.name%></p>
    <% end %>
    </div>
  </div>

</div>
