<div class="dash-container">

  <div class="dash-grid">
    <div class="dash-profile card_borderradius">

          <%= link_to profile_path(current_user.profile) do %>
            <%= cl_image_tag current_user.profile.photo.key, height: 300, width: 300, crop: :fill, gravity: :face, class:"profile-avatar" %>
          <% end %>
          <h2 style="border-bottom: none; font-size: 20px"><%= current_user.profile.name %></h2>
          <p >@<%= current_user.profile.user_name %>
          <span id="score">Score:<%= current_user.profile.score %></span></p>
    </div>

    <div class="dash-social card_borderradius">
      <h2>Messages</h2>
      <% if @messages != [] %>
        <% @messages.each do |message| %>
          <% @user = User.find(message.user_id) %>
          <h3>New Message from <%= @user.profile.user_name %></h3>
          <p><%= message.content %></p>
          <%= link_to "Enter Chat", chatroom_path(message.chatroom) %>
        <% end %>
      <% else %>
        <h3>You have no unread messages</h3>
      <% end %>
    </div>

    <div class="dash-tools card_borderradius">
    <h2>Your toolboxes</h2>
      <div class="prof-toolboxes">
        <% current_user.lists.each do |list| %>
          <div class="toolbox">
          <h5><%= link_to list.title, list %></h5>
            <ul>
              <% list.bookmarks[0..2].each do |bookmark| %>
                <li><i class="fa-solid fa-wrench"></i> <%= bookmark.tool.title %></li>
              <% end %>
              <% if list.bookmarks.length > 2 %>
              <br>
                <%= link_to "see more...", list %>
              <% end %>
            </ul>
          </div>
          <% end %>
      </div>
    </div>

    <div class="dash-reccomend card_borderradius">
    <h2>Reccomendations</h2>
    <% @suggestions.each do |tool| %>
      <div class="tool-contain">

  <div class="zero-small">

    <div class=" item0">
    </div>

    <div class="item2">
      <div class="item21">
        <div class="grid-item toolname">
          <h4> <%= tool.title %> </h4>
        </div>
    	  <div class="grid-item">
        <p class="daterating"><%= tool.rating %>★</p>
        </div>
	    </div>
        <div class="grid-item item22">
          <p class="ellipsis3 p_card"><%= tool.description %></p>
        </div>
      </div>
      <div class="grid-item">
        <p class="saverate"> <%= link_to "view", tool %></p>
    </div>
  </div>
    <% end %>
    </div>
  </div>

</div>
