<body class="colored-background">


<div class="dash-container">

  <div class="dash-grid">
    <div class="dash-profile">
        <div class="prof-left">
          <%= cl_image_tag current_user.profile.photo.key, height: 300, width: 300, crop: :fill, gravity: :face, class:"profile-avatar" %>
          <span id="score">Score:<%= current_user.profile.score %></span>
        </div>
        <div class="prof-right">
          <h1>Profile</h1>
          <h2><%= current_user.profile.name %></h2>
          <p><%= current_user.profile.user_name %> | <%= current_user.profile.location %></p></p>
          <p><%= current_user.profile.bio %></p>
          <%= link_to "Update Profile", edit_profile_path(current_user.profile)%>
        </div>
    </div>

    <div class="dash-tools">
    <h2>Your tools</h2>
      <div class="prof-toolboxes">
        <% current_user.lists.each do |list| %>
          <div class="toolbox">
          <h5><%= link_to list.title, list %></h5>
            <ul>
              <% list.bookmarks[0..2].each do |bookmark| %>
                <li><%= bookmark.tool.title %></li>
              <% end %>
              <% if list.bookmarks.length > 2 %>
              <br>
                <%= link_to "see more...", list %>
              <% end %>
            </ul>
          </div>
          <% end %>
      </div>
    </div>

    <div class="dash-reccomend">
    <h2>Reccomendations</h2>
    <% @suggestions.each do |tool| %>
      <div class="tool-contain">

  <div class="zero-small">

    <div class=" item0">
    </div>

    <div class="item2">
      <div class="item21">
        <div class="grid-item toolname">
          <h4> <%= tool.title %> </h4>
        </div>
    	  <div class="grid-item">
        <p class="daterating"><%= tool.rating %>★</p>
        </div>
	    </div>
        <div class="grid-item item22">
          <p class="ellipsis3 p_card"><%= tool.description %></p>
        </div>
      </div>
      <div class="grid-item">
        <p class="saverate"> <%= link_to "view", tool %></p>
    </div>
  </div>
    <% end %>
    </div>
  </div>

</div>

</body>
