<body class="colored-background">

  <div style= "width: 50%; margin: 4% auto;"class="white_background card_borderradius card_padding card_margin card_boxshadow">
    <h2 class="card_h2">Edit your profile:</h2>
      <%= simple_form_for @profile do |f| %>
        <%= f.input :name %>
        <%= f.input :user_name %>
        <%= f.input :location %>
        <%= f.input :bio %>
        <%= f.association :categories %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
      <% end %>

</body>
