<h1>Welcome to AllytoAll</h1>
<p>Lets create your profile!</p>
  <%= simple_form_for @profile do |f| %>
    <%= f.input :name, wrapper_html: { class: 'hiding p-name' } %>
    <%= f.input :user_name, wrapper_html: { class: 'hiding p-name' } %>
    <%= f.input :bio, wrapper_html: { class: 'hiding p-name' } %>
    <%= f.input :location, wrapper_html: { class: 'hiding p-name' } %>
    <%= f.association :categories, wrapper_html: { class: 'hiding p-name' } %>
    <%= f.input :photo, as: :file, wrapper_html: { class: 'hiding p-name' } %>
    <%= f.button :submit, "Go", class: "btn btn-primary" %>
  <% end %>
