<h1><%= @profile.name %></h1>
<h2><%= @profile.user_name %>- <%= @profile.score %> points</h2>
<h2><%= @profile.location %></h2>
<p><%= @profile.bio %></p>
<h2><%= @profile.user_name %>'s Lists:</h2>
<% @lists.each do |list| %>
  <ul>
    <li><%= link_to list.title, list_path(list) %></li>
  </ul>
<% end %>
<h2><%= @profile.user_name %>'s Tools:</h2>
<% @tools.each do |tool| %>
  <ul>
    <li><%= link_to tool.title, tool_path(tool) %></li>
  </ul>
<% end %>
