<div id='profile-page'  class = 'profile-banner'>
    <% if @profile.photo.key? %>
      <%= cl_image_tag @profile.photo.key, height: 300, width: 300, crop: :fill, gravity: :face, class:"profile-avatar" %>
    <% end %>


  <div class="profile-banner-text">
    <h1><%= @profile.name %></h1>
    <h3><%= @profile.user_name %>  </h3>
    <div>
      <p class= "points"><i class="fa-solid fa-award"></i>  <%= @profile.score %>  points</p>


<%# <div class="profile-lower-half" style= "margin: auto"> %>
  <%# <div class="profile-bio-and-tools"> %>
    <%# <div class="profile-bio"> %>

        <%= link_to profile_friendships_path(@profile) do |link| %>
          <% if @friends.count == 1 %>
            <p class="friends-link"><%= @friends.count %> friend</p>
          <% else %>
            <p class="friends-link"><%= @friends.count %> friends</p>
          <% end %>
        <% end %>

        <br>
        <i class="fa-solid fa-map-location"></i>   <%= @profile.location %>
        <br>
        <i class="fa-solid fa-user"></i>   <%= @profile.bio %></p>
        <div class ="profile-banner-buttons">
          <% if @friends_already == [] %>
            <% if @profile.user != current_user %>
                    <%= link_to "Add Friend", add_friend_path, class:"button2" %>
            <% end %>
          <% end %>


          <% if @profile.user != current_user && @chat_already == [] %>
            <%= link_to "Chat with #{@profile.user_name}", talk_path, class:"button2" %>
          <% elsif @profile.user != current_user && @chat_already != [] %>
            <%= link_to "Chat with #{@profile.user_name}", chatroom_path(@chat_already.first.id), class:"button2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="prof-buttons">

<% if policy(@profile).edit? %>
        <%= link_to "Update Profile", edit_profile_path(@profile), class: "button1"%>
      <% end %>

</div>

<div class="profile-lists grey-bg">
<div class="list-containers">
  <% if @lists != [] %>
    <h2><%= @profile.user_name %>'s tools:</h2>
    <div class="scrollbarz" style="display: flex">
      <div class="prof-scroll-list">
      <% @tools.each do |tool| %>
          <div class= "toolbox-card "style="background-color: none;">
            <%# <%= link_to list_path(list) do %>
            <h4><%= tool.title %></h4>
            <%# <% end %>
            <div class="toolboxcard-list">
            <p class="ellipsis5"><%= tool.description %></p>
            </div>
        <%= link_to tool_path(tool) do %>
        <p class="mikulink" style= "margin: 5px 0px 0px 2ch">See tool</p>
        <% end %>
      </div>
      <div class="spacer">&nbsp</div>
      <% end %>
    </div>
    </div>
  <% end %>
  </div>
</div>

<div class="profile-banner">
</div>

<div class="profile-lists">
  <% if @lists != [] %>
    <h2><%= @profile.user_name %>'s toolboxes:</h2>
    <div style="display: flex">
      <div class ="prof-scroll-list">
        <% @lists.each do |list| %>
            <div class= "toolbox-card "style="background-color: none;">
              <%# <%= link_to list_path(list) do %>
              <h4><%= link_to list.title, list %></h4>
              <%# <% end %>
              <div class="toolboxcard-list">
                <% list.bookmarks[0..5].each do |bookmark| %>
                  <li><i class="fa-solid fa-wrench"></i><%= bookmark.tool.title %></li>
                <% end %>
              </div>
              <% if list.bookmarks.length > 6 %>
                <%= link_to "see more...", list %>
              <% end %>
          <%= link_to list_path(list) do %>
          <p class="mikulink" style= "margin: 5px 0px 0px 2ch">See toolbox</p>
          <% end %>
        </div>
        <div class="spacer">&nbsp</div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

    <div class="deletecontainer">
      <% if policy(@profile).destroy? %>
        <%= link_to "Delete Profile", @profile, data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "button2"%>
      <% end %>
    </div>








  </div>
