<div id='profile-page' style="display: grid; grid-template-columns: 2fr 3fr"  class = 'profile-banner'>
  <div>
    <%= cl_image_tag @profile.photo.key, height: 300, width: 300, crop: :fill, gravity: :face, class:"profile-avatar" %>
  </div>
  <div class="profile-banner-text">
    <h1><%= @profile.name %></h1>
    <h2>@<%= @profile.user_name %></h2> <p> 🥰<%= @profile.score %> points <br>


<%# <div class="profile-lower-half" style= "margin: auto"> %>
  <%# <div class="profile-bio-and-tools"> %>
    <%# <div class="profile-bio"> %>
      <i class="fa-solid fa-map-location"></i>   <%= @profile.location %>
      <br>
      <i class="fa-solid fa-user"></i>   <%= @profile.bio %></p>


      <% if @profile.user != current_user %>
              <%= link_to "Chat with #{@profile.user_name}", talk_path %>
      <% end %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>

  </div>
</div>




<div class="profile-lists">
  <% if @lists != [] %>
    <h2>@<%= @profile.user_name %>'s tools:</h2>
    <div style="display: flex">
      <% @tools.each do |tool| %>
          <div class= "toolbox-card "style="background-color: none;">
            <%# <%= link_to list_path(list) do %>
            <h4><%= tool.title %></h4>
            <%# <% end %>
            <div class="toolboxcard-list">
            <p class="ellipsis5">Aut voluptatum deleniti aut nostrum dicta ut ratione exercitationem et impedit suscipit. Sed repudiandae nisi in repellendus magnam rem molestiae consequatur. Ab ipsam maiores id voluptatem dolor et consequatur sequi et mollitia inventore hic ipsum libero et debitis cupiditate est accusantium magnam.</p>
            </div>
        <%= link_to tool_path(tool) do %>
        <p class="mikulink" style= "margin: 5px 0px 0px 2ch">See tool</p>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>



<div class="profile-lists">
  <% if @lists != [] %>
    <h2>@<%= @profile.user_name %>'s toolboxes:</h2>
    <div style="display: flex">
      <% @lists.each do |list| %>
          <div class= "toolbox-card "style="background-color: none;">
            <%# <%= link_to list_path(list) do %>
            <h4><%= list.title %></h4>
            <%# <% end %>
            <div class="toolboxcard-list">
              <li>Tool 1</li>
              <li>Tool 2</li>
              <li>Tool 3</li>
              <li>Tool 4</li>
              <li>Tool 5</li>
            </div>
        <%= link_to list_path(list) do %>
        <p class="mikulink" style= "margin: 5px 0px 0px 2ch">See toolbox</p>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>









      <% if policy(@profile).edit? %>
        <%= link_to "Update Profile", edit_profile_path(@profile)%>
      <% end %>

      <% if policy(@profile).destroy? %>
        <%= link_to "Delete Profile", @profile, data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      <% end %>

  </div>
