<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag('logowhite.png') %>


      <span id= "logospan" style="font-weight: bold;
">A11y to all</span>
    <% end %>
    <div data-controller="switch-search" class="search-container">

        <form action="" data-action="input->switch-search#switch" class="navbar-margin search-toggle">
        <div data-switch-search-target="togglebg" class="toggle-background">&nbsp</div>
          <input id="select-tools" type="radio" name="selection" value="tools" data-switch-search-target="tools">
          <label for="select-tools">Tools</label>
          <input id="select-users" type="radio" name="selection" value="users" data-switch-search-target="users">
          <label for="select-users">Users</label>
        </form>
      <div data-switch-search-target="searchtools" class="navbar-form">

        <%= form_with url: tools_path, method: :get, class: "d-flex navbar-margin" do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control2",
          placeholder: "Find a Tool"
          %>
          <%= submit_tag "Search", class: "btnnav" %>
        <% end %>
      </div>

      <div data-switch-search-target="searchusers" class="hiding">
        <%= form_with url: profiles_path, method: :get, class: "d-flex navbar-margin" do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control2",
          placeholder: "Find a User"
          %>
          <%= submit_tag "Search", class: "btnnav" %>

        <% end %>
      </div>

    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <% if user_signed_in? && current_user.profile != nil %>
          <li class="nav-item dropdown">
            <% if current_user.profile.photo.key? %>
              <%= cl_image_tag current_user.profile.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width: 70, height: 70, crop: :fill %>
            <% else %>
              <%= image_tag "avatar_blank.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
<%# dropdown menu %>
            <div class="dropdown-menu dropdown-menu-end card_borderradius" aria-labelledby="navbarDropdown">
              <%# <div class="top-half"> %>
                <%# <%= cl_image_tag current_user.profile.photo.key, class: "large-drop-avatar", alt: "Your profile picture", width: 200, height: 200, crop: :fill %>
                <%# <span><%= current_user.profile.name %></span>
              <%# </div> %>
              <%# <div class="bottom-half"> %>
                <%= link_to "Profile", profile_path(current_user.profile), class: "dropdown-item" %>
                <%= link_to "New Tool", new_tool_path, class: "dropdown-item" %>
                <%= link_to "New Toolbox", new_list_path, class: "dropdown-item" %>
                <%= link_to "Inbox", chatrooms_path, class: "dropdown-item" %>
                <%= link_to "New Chat", new_chatroom_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <%# </div> %>
            </div>

          </li>
        <% elsif user_signed_in? == false %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</div>
